* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    margin-top: 50px;
    background-color: #1a1818;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(43, 9, 237, 0.1);
    width: 100%;
    max-width: 400px;
}

.main-logo {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 1rem;
}

.token-logo {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 0.5rem;
}

h1 {
    color: #333;
    margin-bottom: 1rem;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
}

.btn:hover {
    background-color: #e041c6;
}

.info {
    margin-top: 0.5rem;
    color: #555;
    display: inline-block;
    margin: 10px 0;
}

.info span {
    font-weight: bold;
}
